.propertiesMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 125px;
    margin-right: 20px;
}

.propertiesMain:last-child{
    margin: 0;
}