.ingredient {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drag {
    display: flex;
    justify-content: center;
    width: 24px;
    align-items: center;
}

.block {
    display: flex;
    flex: 1 0 auto;
}

.emptyElement {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted grey;
    padding: calc(var(--offset-base-size) * 3) 0;
    background-color: #131316;
}
