.ingredient {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100%/2 - 38px);
    height: 208px;
    text-align: center;
    cursor: pointer;
}

.price {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}