.ingredient {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px;
}


.drag {
    display: flex;
    justify-content: center;
    width: 24px;
    align-items: center;
}

.block {
    display: flex;
    flex: 1 0 auto;
}